h5 {
  font-size: 1.5625rem;
}

.contactUs {
  @include clearfix;
  .field {
    &.third {
      @include column(4);
      padding: 0;
      @include phoneR {
        @include column(12);
      }
    }
    &.full, &.btn {
      padding-top: 15px;
    }
    &.full {
      clear: both;
    }
  }
  label {

    @include desktopRHD1024 {
      margin-bottom: 2%;
    }

    @include ipadAir1024R {
      margin-bottom: 2%;
    }
    @include iphone6Plus736R {
      margin-bottom: 2%;
    }
    @include iphone6Plus667R {
      margin-bottom: 2%;
    }
    @include iphone6Minus568R {
      margin-bottom: 2%; 
    }
  }
  label, input {
    display: block;

    @include phoneR {
      margin-bottom: 5%;
    }
  }
  input {
    width: 90%;
    padding: 5px;
    @include phoneR {
      width: 100%;
    }
  }
  textarea {
    padding: 5px;
  }
  .btn {
    button {
      display: block;
      padding: 12px;
      background: $roomAttributeIcon;
      border: 0;
      box-shadow: none;
      border-radius: 0;
      color: white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
      @include transitionEffectAllEaseIn(0.5s);
      &:hover {
        text-shadow: none;
        background: white;
        color: $roomAttributeIcon;
        outline: 1px solid $roomAttributeIcon;
      }
      @include phoneR {
        width: 100%;
      }
    }
  }
}