header.site-header {
  background: $color__header-bg;
  // background: $color__background-logo;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 100;
  .container {
    @include clearfix;

    // flexbox parent
    @include flexboxRow1;
  }
}

.site-branding {
  //flex child
  flex: 1 32%;

  // flexbox parent
  @include flexboxRow1;
  justify-content: flex-start;
  align-content: flex-start;

  //fall back
  float: left;
  
  h1 {
    // this was moved to _logo.scss
  }
}

nav#site-navigation.main-navigation {
  // flexbox child
  flex: 1 50%;

  ul#primary-menu {
    //flexbox parent
    @include flexboxRow1;
    justify-content: space-between;
    align-content: space-between;
  }
}