header.site-header {
  background: $color__header-bg;
  // background: $color__background-logo;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 100;

  // DEFAULT POSITION
  // for use only with media queries...
  // this is a reference...
  // top:-22%;

  @include iphone6Plus736LandR {
    top: -50em;
  }

  @include iphone6Plus414R {
    // unknown reason... the site-header 
    max-width: 414px;
  }

  @include iphone6Plus375R {
    max-width: 375px;
  }

  @include iphone6Minus320R {
    max-width: 320px;
  }
  
  flex-flow: column;

  .container {
    @include clearfix;

    // flexbox parent
    @include flexboxRow1;

    @include iphone6Plus667LandR {
      //
    }
  }

}

// this also wraps everything in the site-header
header.site-header .container {

  @include iphone6Plus414R {
    // unknown reason... the site-header 
    @include flexboxRow1;
  }

}

.site-branding {
  //flex child
  flex: 1 32%;

  @include iphone6Plus414R {
    flex: 1 100%;
  }

  // flexbox parent
  @include flexboxRow1;
  justify-content: flex-start;
  align-content: flex-start;

  //fall back
  float: left;
  
  @include iphone6Plus667LandR {
    margin-left: 13%;
  }

  @include iphone6Plus414R {
    justify-content: center;
    align-content: center;
  }
}

nav#site-navigation.main-navigation {
  // flexbox child
  flex: 1 50%;
  @include iphone6Plus414R {
    flex: 1 100%;
  }


  button.menu-toggle {
    @include iphone6Minus568R {
      display: none;
    }
    
  }

  ul#primary-menu {
    //flexbox parent
    @include flexboxRow1;
    justify-content: space-between;
    align-content: space-between;

    li {
      // setting this fixes the last li item's weird aligning issue at any media resolution
      flex: 1 auto;

      @include iphone6Plus667R {
        padding: 3% 3%;
      }

      // changing the padding makes the nav menu less bloated vertically and allows us to see the mast head image
      @include iphone6Plus414R {
        // @include font-size(0.75);
        padding: 3% 3%;
      }

      @include iphone6Plus375R {
        // @include font-size(0.6);
        padding: 3% 3%;
      }

      @include iphone6Minus320R {
        // @include font-size(0.6);
        padding: 3% 3%;
      }
    }

    li a {
      @include iphone6Plus667R {
        @include font-size(0.75);
      }

      @include iphone6Plus414R {
        @include font-size(0.75);
      }

      @include iphone6Plus375R {
        @include font-size(0.6);
      }

      @include iphone6Minus320R {
        @include font-size(0.6);
      }

    }
  }
}

////////////////////////////////////////////
//    SLIDE OUT HEADER
////////////////////////////////////////////
// for responsive coding

// ----------------------------------------
// INPUT LABEL CONTROL  ------------------
// ----------------------------------------
label[for="toggle"] {
  position: fixed;
  left: 1em;
  top: 1.5em;
  z-index: 101;
  color: white;

  // DEFAULT DISPLAY STATUS
  // generally display: none unless changed by media queries or JS
  opacity: 0;
  z-index: -5;

  // STYLING OVERRIDE  ------------------------------------------------
  @include buttonStyle1;
  width: 5em;
  @include marginPaddingReset1;
  text-align: center;
  &:hover {
    outline: none;
    background: transparent;
  }
  // END STYLING OVERRIDE ------------------------------------------------

  @include iphone6Plus736LandR {
    opacity: 1;
    z-index: 101;
    left: 0.9em;
    top: 0.5em;
  }

}
// ----------------------------------------
// END INPUT LABEL CONTROL  ------------------
// ----------------------------------------

// ----------------------------------------
// INPUT CHECKBOX CONTROL  ------------------
// ----------------------------------------
// make the input checkbox invisible
input#toggle {
  display: none;

  &:checked + header#site-header {
    // when the input is checked
    // we slide the menu back onto the screen
    // NOTE:  A media query will have to be written to also change .home .masthead padding or positioning
    top: 0;
  }
}
// ----------------------------------------
// END INPUT CHECKBOX CONTROL  ------------------
// ----------------------------------------


////////////////////////////////////////////
//    END SLIDE OUT HEADER
////////////////////////////////////////////