.masthead {
  position: relative;
  padding-top: 35px;
  .overlay {
    position: absolute;
    top: 42%;
    z-index: 10;
    width: 100%;
    h2, h3 {
      color: white;
      float: left;
      position: relative;
      text-transform: uppercase;
      &:after {
        content: '';
        position: absolute;
        top: 0;
      }
    }
    h2 {
      padding: 15px 20px;
      background: #2a2a2a;
      font-weight: 700;
      &:after {
        border-right: 33px solid transparent;
        border-top: 66px solid #2a2a2a;
        right: -33px;
      }
    }
    h3 {
      padding: 10px 20px;
      background: #52abdf;
      font-weight: 300;
      &:after {
        border-right: 24px solid transparent;
        border-top: 48px solid #52abdf;
        right: -24px;
      }
    }
  }
}