.home {
  .masthead {
    position: relative;
    padding-top: 35px;

    @include iphone6Plus736LandR {
      // ----------------------------------------
      // SLIDE OUT FUNCTIONALITY  ------------------
      // ----------------------------------------
      padding-top: 0;
      // ----------------------------------------
      // END SLIDE OUT FUNCTIONALITY  ------------------
      // ----------------------------------------
      
    }

    @include iphone6Plus414PortR {
      padding-top: 81px;
      padding-top: 0;
    }

    @include iphone6Plus375PortR {
      padding-top: 76px;
      padding-top: 0;
    }

    @include iphone6Minus320PortR {
      padding-top: 73px;
      padding-top: 0;
    }

    .overlay {
      position: absolute;
      top: 42%;
      z-index: 10;
      width: 100%;
      h2, h3 {
        color: white;
        float: left;
        position: relative;
        text-transform: uppercase;
        &:after {
          content: '';
          position: absolute;
          top: 0;
        }
      }
      h3 {
        padding-left: 20px;
      }
      @include tabletR {
        width: 80%;
        left: 8%;
        h2 {
          font-size: 1.125rem;
        }
        h3 {
          font-size: 1rem;
        }
      }
    }
  }
}