/*================================================
DIV FLEXBOX
this contains both the content and the sidebar
=================================================*/

.flexbox {
	@include flexboxRow1;
	align-items: flex-start;

	#primary {
		/*================================================
		BACKUP IE SUPPORT
		=================================================*/
		float: left;
		width: 75%;
		/*================================================ */
		
		flex: 2 75%;
	}

	#secondary {
		/*================================================
		BACKUP IE SUPPORT
		=================================================*/
		float: right;
		width: 25%;
		/*================================================ */
		
		flex: 1 25%;
	}
}



/*================================================ */