/*================================================
DIV FLEXBOX
this contains both the content and the sidebar
=================================================*/

.flexbox {
	@include flexboxRow1;
	justify-content: space-between;
	align-content: space-between;
	align-items: flex-start;

	@include desktopR {
	  flex-direction: column;
	}

	#primary {
		/*================================================
		BACKUP IE SUPPORT
		=================================================*/
		float: left;
		width: 75%;
		/*================================================ */
		
		// on Safari desktop and iOS adding this flex here seems to break it
		// using standard width is apparently enough
		// flex: 2 75%;
		// finding that using flex: 1 auto is better in many cases as flexbox figures out how to position it automatically
		// this is because the initial width of 75% has already been set, so flexbox just works with that
		flex: 1 auto;

		padding-right: 5%;

		// push the section down from the top
		margin-top: 5%;

		@include desktopR {
			width: 100%;
		}

		@include iphone6Minus568R {
			width: 100%;
		}
	}

	#secondary {
		/*================================================
		BACKUP IE SUPPORT
		=================================================*/
		float: right;
		width: 25%;
		/*================================================ */
		
		// on Safari desktop and iOS adding this flex here seems to break it
		// using standard width is apparently enough
		// flex: 1 25%;
		// this is because the initial width of 25% has already been set, so flexbox just works with that
		flex: 1 auto;

		// push the section down from the top
		margin-top: 5%;

		@include desktopR {
			width: 100%;
		}

		@include iphone6Minus568R {
			width: 100%;
		}

		@include phoneR {
			width:100%;
		}
	}
}

// might want to transfer this to .container
// .container.flexbox {
// 	@include sectionPadding041515(3%,10%);
// }

/*================================================ */

@import '_layout-sidebar.scss';
@import '_layout-widget.scss';
@import '_layout-content.scss';
@import '_layout-search.scss';

// NOTE:  Masthead Area for interior pages has been moved to _layout-content.scss

