h1, h2, h3, h4, h5, h6 {
	clear: both;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 20px 0 10px;
  .price {
    font-weight: 700;
  }
}