body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

// if using rems
// html {
// 	font-size: 16px;
// }

// this is more in line with the original template's colour for `p` text
p {
	color: $color__page-text;
}

/*================================================
WIDGET STYLING CHANGES
=================================================*/

/* Search Widget, Standard */
#search-3.widget_search h1 {
	@include font-size(1.2);
	margin-bottom: 2.5%;
}

/*================================================ */

@import "headings";

@import "copy";