body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

// if using rems
// html {
// 	font-size: 16px;
// }

// this is more in line with the original template's colour for `p` text
p {
	color: $color__page-text;
}

// focus on #content to avoid affecting the styling for the header
#content p, #content li a, #content input, #content button {
	@include font-size(0.9);
}

// focus on #footer to avoid affecting the styling for the header
#footer.site-footer p, #footer.site-footer a, #footer.site-footer input, #footer.site-footer button {
	@include font-size(0.9);
}

@import "headings";

@import "copy";