$color__background-body: #ebebeb;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #373535;
$color__text-input-focus: #373535;
$color__link: white;
// $color__link: black;
$color__link_alt1: black;
$color__link-visited: $color__link;
$color__link-hover: #52abdf;
$color__text-main: #373535;
// $color__text-main: #8F8E8E;
$color__page-text: #8F8E8E;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__header-bg: #191919;
$color__nav-divider: #444;

$videoButtons: #00A1E6;
$videoOverlay: rgba(0, 0, 0,0.6);
$roomAttributeIcon: #00A1E6;