.main-navigation {
	display: block;
	float: right;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		@include clearfix;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		padding: 20px 15px;

		@include iphone6Plus667R {
			text-align: center;
		}

		@include iphone6Plus414R {
		  // @include font-size(0.75);
		}

		@include iphone6Plus375R {
		  // @include font-size(0.6);
		}

		@include iphone6Minus320R {
		  // @include font-size(0.6);
		}

		&:after {
			content: '|';
			color: $color__nav-divider;
			position: absolute;
			top: 18px;
			right: -5px;
			// with flexbox use this
			right: 5px;
			@include tabletR {
				right: 0px;
			}
			@include iphone6Plus736R {
				right: -2px;
			}
			@include iphone6Plus667R {
				top: 7px;
				display: none;
			}
			@include iphone6Minus568LandR {
				display: none;
			}
			@include iphone6Plus414R {
			  // @include font-size(0.75);
			  top: 5px;
			  right: 1px;
			}

			@include iphone6Plus375R {
			  // @include font-size(0.6);
			  top: 5px;
			  right: 1px;
			}

			@include iphone6Minus320R {
			  // @include font-size(0.6);
			  top: 3px;
			  right: -3px;
			}
		}
		&:last-child {
			padding-right: 0;
			@include tabletR {
				//
			}
			&:after {
				content: '';
			}
		}

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		font-weight: 300;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
